h1{
text-align: center;

}
.buttons{
width: 50%;
margin: 0 auto;
display: flex;
justify-content: space-between;

}

button{
    border: none;
    padding:  .8rem 1.5rem;
    border-radius: .3rem;
    background-color: #09f;
    color: #fff;
}
#result{
    margin-top: 1rem;
    font-size: 2rem;
    color: #09f;
    text-align: center;
}

#score{
    margin-top: 1rem;
    font-size: 2.5rem;
    color: #07f;
    text-align: center;
}